# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment variables
.env

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# MacOS files
.DS_Store

# Virtual environments
env/
venv/
.venv/

# Logs
*.log

# Output files
search_results.json
